@import "../variables";

.btnLanguageWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  button {
    width: 50px;
    padding: 0.25rem;
    background-color: $primary-color;
    border: 2px solid $highlight-color;
    color: $font-color;
    cursor: pointer;

    &:hover {
      background-color: $highlight-color;
      color: $primary-color;
    }

    &.active {
      box-shadow: 0px 0px 6px 2px $font-color;
      border-color: $font-color;
    }
  }
}

@media screen and (max-width: 750px) {
  .btnLanguageWrapper {
    width: 100%;
    flex-direction: column;

    button {
      width: 100%;
      height: 35px;
    }
  }
}
